<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackshift.verbis" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".ui.activity.HomePageActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".DictionaryActivity" />
        </activity>
        <activity
            android:name=".ui.activity.WordListRecyclerViewActivity"
            android:label="@string/title_activity_word_list" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1c16a9c7d4d0660fb337122543fe726dc3f456b6" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".DictionaryActivity" />

        <activity
            android:name=".ui.activity.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.verbis.io" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackshift.verbis.ui.activity.HomePageActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".rest.providers.RecentSuggestionsProvider"
            android:authorities="com.blackshift.verbis.rest.providers.RecentSuggestionsProvider" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.WordListViewPagerActivity"
            android:label="@string/title_activity_word_list_view_pager"
            android:parentActivityName=".ui.activity.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.WordyActivity"
            android:label="@string/title_activity_wordy"
            android:parentActivityName=".ui.activity.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blackshift.verbis.ui.activity.HomePageActivity" />
        </activity>

        <service
            android:name=".services.WordyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AlarmReceiverActivity"
            android:label="@string/title_activity_alarm_receiver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RepeatingAlarmReciever"
            android:label="@string/title_activity_repeating_alarm_reciever"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>